<?xml version="1.0"?>

<launch>

    <arg name="camera" default="camera" />
    <arg name="scan_topic" default="scan"/>
    <arg name="depth" default="depth"/>

    <!-- start sensor-->
    <include file="$(find freenect_launch)/launch/freenect.launch">
        <arg name="camera" default="$(arg camera)"/>
    </include>

    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">

      <!-- Pixel rows to use to generate the laserscan. For each column, the scan will return the minimum value for those pixels centered vertically in the image. -->
      <param name="scan_height" value="5"/>
      <param name="output_frame_id" value="/$(arg camera)_depth_frame"/>
      <param name="range_min" value="0.45"/>
      <param name="scan_time" value="0.1"/>
      <remap from="image" to="$(arg camera)/$(arg depth)/image_raw"/>
      <remap from="scan" to="$(arg scan_topic)"/>

      <!-- Somehow topics here get prefixed by "$(arg camera)" when not inside an app namespace,
           so in this case "$(arg scan_topic)" must provide an absolute topic name (issue #88).
           Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 -->
      <remap from="$(arg camera)/image" to="$(arg camera)/$(arg depth)/image_raw"/>
      <remap from="$(arg camera)/scan" to="$(arg scan_topic)"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="image_to_scan_broadcaster" args="0 0 0 0 0 0 \/camera_depth_frame camera 100" />

</launch>
