<launch>
  <node pkg="tf" type="static_transform_publisher" name="base_to_kinect_broadcaster" args="-0.18 0 0.16 0 0 0 \/base_link \/camera_link 100" />
 
  <!--we use the kinect sensor as a fake laser scanner /-->
  <include file="$(find patrick_the_robot)/launch/kinect_laser.launch" />
  
  <node name="base_driver_node" pkg="patrick_the_robot" type="base_driver" args="10.0" />

  <!-- cmd_vel mux for prioritizing cmd_vel topics /-->
  <arg name="nodelet_manager_name" value="mux_nodelet_manager"/>
  <arg name="config_file" value="$(find patrick_the_robot)/param/cmd_vel_mux_config.yaml"/>

  <node name="$(arg nodelet_manager_name)" pkg="nodelet" type="nodelet" args="manager"/>
  <include file="$(find yocs_cmd_vel_mux)/launch/cmd_vel_mux.launch">
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)"/>
    <arg name="config_file" value="$(arg config_file)"/>
  </include>

  <!--serial communication between arduino and pc via usb /-->
  <node name="arduino_serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud" value="57600" />
  </node>
</launch>
